RewriteEngine On

# Stop rewriting if the file or directory actually exists on the server
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

# Send everything else to index.php
RewriteRule ^(.*)$ index.php [L, QSA]