<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the browser is requesting the root folder directly (empty string ^$), bypassinng directory checking and send it straight to the front router
    RewriteRule ^$ public/index.php [QSA,L]

    # For all other URLs, if it's an actual file or folder, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, passing the clean virtual path into our front router script
    RewriteRule ^(.*)$ public/index.php [QSA,L]

</IfModule>
